.contact-form{
  width: 100%;
  margin-top: 20px;

  ul{
    li{
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;

    }
  }
}